.header {
    display: flex;
    max-width: 1184px;
    max-height: 52px;
    justify-content: space-between;
    margin: 28px 48px 56px;
}

@media screen and (max-width: 568px) {
    .header {
        margin: 16px 16px 48px;
    }
  }