.place__title {
    font-style: normal;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

}

@media screen and (max-width: 920px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
  }
}

@media screen and (max-width: 568px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;

  }
}