.lead__title {
    max-width: 720px;
    min-height: 200px;
    margin: 0 132px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 1152px) {
    .lead__title {
        margin: 0 104px;
        max-width: 720px;
        min-height: 200px;
  }
}

@media screen and (max-width: 920px) {
    .lead__title {
        margin: 0 24px;
        max-width: 720px;
        min-height: 200px;
        font-size: clamp(40px, 10 * (0.5vw + 1vh) / 2, 96px);
  }
}


@media screen and (max-width: 568px) {
    .lead__title {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 18px;
        margin-right: 14px;
        min-width: 288px;
        min-height: 88px;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
    }
}