.lead__image {
    width: 100%;
    object-fit: cover;
    min-height: 615px;
    background-size: cover;
    margin: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
    .lead__image {
        min-height: 580px;
        background-size: cover;
    }
}

@media screen and (max-width: 920px) {
    .lead__image {
        min-height: 480px;
    }
}

@media screen and (max-width: 568px) {
    .lead__image {
        min-height: 200px;
    }
}
