.intro__text {
    max-width: 690px;
    min-height: 208px;
    margin-top: 0;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
}

@media screen and (max-width: 920px) {
    .intro__text {
        max-width: 720px;
        min-height: 208px;
  }
}

@media screen and (max-width: 568px) {
    .intro__text {
        min-width: 288px;
        max-height: 520px;
        margin-bottom: 34px;
    }
}