.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    margin: 32px 172px 64px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 1152px) {
    .lead__subtitle {
        margin: 32px 144px 56px;
  }
}

@media screen and (max-width: 920px) {
    .lead__subtitle {
        margin: 32px 64px 56px;
        max-width: 720px;
        max-height: 200px;
  }
}

@media screen and (max-width: 568px) {
    .lead__subtitle {
        margin-top: 16;
        margin-bottom: 40;
        margin-left: 18px;
        margin-right: 14px;
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
}