.places__place {
    max-width: 984px;
    box-sizing: border-box;
    display: grid;
    gap: 48px 40px;
    margin-top: 80px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
}

.places__place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1152px) {
    .places__place {
        gap: 48px 32px;
  }
}

@media screen and (max-width: 920px) {
    .places__place {
        gap: 48px 28px;
        margin-top: 88px;
  }
}

@media screen and (max-width: 568px) {
    .places__place {
        max-width: 320px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 32px;
        margin-top: 64px;
  }
}