.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 92px 48px 24px;
}

@media screen and (max-width: 1152px) {
    .footer {
        margin: 94px 48px 24px;
    }
}

@media screen and (max-width: 920px) {
    .footer {
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
        margin: 64px 24px 24px;
    }
}