.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    list-style-type: none;
    margin: 0 18px 0 0;
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: 1s;
}
    .footer__link:hover {
        opacity: 0.75;
    }

@media screen and (max-width: 720px) {
    .footer__link {
        font-size: clamp(24px, 10 * (1vw + 1vh) / 2, 18px);
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 48px;
    }
}